<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Extent Report">
 
  <listeners>
     <listener class-name ="com.selenium_asssignment.extentListeners.ExtentListeners"/>
  </listeners>
   

  <test name="Testing on Chrome">
  	<parameter name="browser" value="chrome"></parameter>
  	<parameter name="AUT" value="https://www.amazon.in"></parameter>
  	<parameter name="expectedArticleYear" value="14 December 2022"></parameter>
  	<parameter name="expectedHeaderText" value="Amazon Bestsellers"></parameter>
    <parameter name="expectedSignInText" value="Sign in to your account"></parameter>
    <parameter name="expectedSignUpText" value="Sign up now"></parameter>
    <parameter name="expectedDefaultLanguage" value="English - EN"></parameter>
    <parameter name="expectedStoryHeadlineText" value="53% surveyed experience sleep-related disorders without a consistent bedtime routine: YouGov and Amazon Alexa Study"></parameter>
    <parameter name="expectedProductFound" value="Lenovo"></parameter>
    <parameter name="unknowUserEmail" value="vuisile@nagarro.com"></parameter>
    <parameter name="unknowUserNumber" value="0719900709"></parameter>
    <classes>
	    <class name="com.selenium_assignment.SeleniumAssignment.BaseFiles.tests.SearchInputTest"/>
	    <class name="com.selenium_assignment.SeleniumAssignment.BaseFiles.tests.UnknownUserEmailTest"/>
	    <class name="com.selenium_assignment.SeleniumAssignment.BaseFiles.tests.ReadMoreTest"/>
	    <class name="com.selenium_assignment.SeleniumAssignment.BaseFiles.tests.DefaultLanguageTest"/>
	    <class name="com.selenium_assignment.SeleniumAssignment.BaseFiles.tests.CartAccessTest"/>
	    <class name="com.selenium_assignment.SeleniumAssignment.BaseFiles.tests.BestSellersTest"/>
	    <class name="com.selenium_assignment.SeleniumAssignment.BaseFiles.tests.TestSendEmailToCustomerSupport"/>
	    <class name="com.selenium_assignment.SeleniumAssignment.BaseFiles.tests.ArticleFillterTest"/>
	    <class name="com.selenium_assignment.SeleniumAssignment.BaseFiles.tests.CheckAmazonPayBalance"/>
	    <class name="com.selenium_assignment.SeleniumAssignment.BaseFiles.tests.UnknownUserNumberTest"/>
    </classes>
  </test>
 
</suite> <!-- Suite -->
